{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
     "mutators": {
         "@default": true,
         "Multiplication": {
             "ignore": [
                 "WyriHaximus\\React\\SimpleORM\\Repository::page"
             ]
         },
         "Decrement": {
             "ignore": [
                 "WyriHaximus\\React\\SimpleORM\\Repository::page"
             ]
         },
         "IncrementInteger": {
             "ignore": [
                 "WyriHaximus\\React\\SimpleORM\\Repository::count"
             ]
         },
         "OneZeroInteger": {
             "ignore": [
                 "WyriHaximus\\React\\SimpleORM\\Repository::count"
             ]
         }
     }
}